{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'quizapp/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="#">Quiz App</a>
        <div class="timer" id="timer">0</div>
        <button class="submit-button" onclick="testSubmit()">Submit</button>
    </nav>

    <div class="body">  
        <h5>{{ cnt.contestName }}</h5>
        <p>{{ original_paragraph }}</p>

        <form id="test-form" action="" method="POST" class="text-center">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" id="user_typing" rows="5" name="user_typing" placeholder="Type the above paragraph here." onpaste="return false;" ondrop="return false;" onkeydown="noBackspaces(event);"></textarea>
            </div>
            <input type="hidden" name="accuracy" id="accuracy_input">
            <input type="hidden" name="time_taken" id="time_taken_input">
            <input type="hidden" name="max_score" id="max_score" value="{{ cnt.maxScore }}">
            <input type="hidden" name="backspace_count" id="backspace_count">
        </form>
    </div>

    <script>
        var tl = "{{ cnt.timelimit }}" ;
        var t;
        var intervalId;
        let lastSpacePosition = -1;
        let backspaceCount = 0;
        function Timer(initialCount) {
            var currentCount = initialCount;

            var timerInterval = setInterval(function() {
                currentCount--;
                t = currentCount;

                if (currentCount === 0) {
                    clearInterval(timerInterval);
                    alert("Your response is being Submitted");
                    document.querySelector("#test-form").submit();
                }

                document.getElementById('timer').innerText = currentCount + ' seconds left';
            }, 1000);
        }

        // Initialize the timer
        Timer(tl * 60);
        
        function testSubmit() {
            
            var r = confirm("Your response is being Submitted");
            if (r == true) {
                const originalParagraph = "{{ original_paragraph }}";
                const userTyping = document.getElementById("user_typing").value;
                const timeTaken = tl * 60 - t;

                const wordsPerMinute = Math.round((userTyping.split(' ').length / timeTaken) * 60);

                const originalWords = originalParagraph.split(' ');
                const userWords = userTyping.split(' ');
                let correctWordsCount = 0;
                for (let i = 0; i < Math.min(originalWords.length, userWords.length); i++) {
                    if (originalWords[i] === userWords[i]) {
                        correctWordsCount++;
                    }
                }
                const accuracy = (correctWordsCount / originalWords.length);

                console.log("Typing speed: " + wordsPerMinute + " words per minute");
                console.log("Accuracy: " + accuracy + "%");

                document.getElementById("accuracy_input").value = accuracy;
                document.getElementById("time_taken_input").value = timeTaken;
                document.getElementById("backspace_count").value = backspaceCount;
                clearInterval(intervalId);
                document.querySelector("#test-form").submit();
            } else {
                console.log("Aborted");
            }
        }
        function noBackspaces(event) {
            const userTyping = document.getElementById("user_typing");
            const cursorPosition = userTyping.selectionStart;
            if (event.keyCode === 8) {
                backspaceCount++;
            }
            if (cursorPosition > lastSpacePosition) {
                lastSpacePosition = userTyping.value.lastIndexOf(' ');
            }

            // Allow backspace if cursor is after the last space
            if (cursorPosition <= lastSpacePosition && event.keyCode == 8) {
                event.preventDefault();
            }
        }
    </script>
</body>
</html>
